:root {
    --color-primary: #e91e63;
    --color-secondary: #ffe7e7;
}

html {
    background: var(--color-secondary);
}

h1,h2,h3,h4,h5 {
    color: var(--color-primary);
    text-decoration: underline;
}

pre {
    background: var(--color-secondary);
    padding: 10px;
    overflow-x: auto;
}

code {
    background: var(--color-secondary);
}

body {
    max-width: 500px;
    padding: 25px;
    margin: auto;
    background: white;
    margin-top: 25px;
    margin-bottom:25px;
}

header {
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}
