*, *:before, *:after {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
header, img, main, nav, section, summary {
  display: block;
}

img {
  max-width: 100%;
}

html {
  font-family: "Mate", sans-serif;
}

html, a {
  color: #222;
}

a:hover {
  text-decoration: none;
}

p, header, table, ul, ol {
  margin-bottom: 1.5em;
}

header a {
  margin-right: 15px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.25em;
  margin-bottom: .5em;
}

body {
  line-height: 1.75em;
  margin: 0 auto;
  max-width: 35em;
  padding: 1.5em;
}

blockquote {
  border-left : 2px solid currentColor;
  font-size : .8em;
  padding-left :15px;
}

code {
    font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

table, tr, td {
  border: 1px solid currentColor;
}

.article + .article {
  margin-top: 15px;
}

.article-information {
  font-size: small;
  float: right;
}
