/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
header, main, nav, section, summary {
  display: block;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: "Mate", sans-serif;
}

html, a {
  color: #222;
}

a:hover {
    text-decoration: none;
}

p, header, table, ul, ol {
  margin-bottom: 1.5em;
}

header a {
  margin-right: 15px;
}

body {
  line-height: 1.75em;
  margin: 0 auto;
  max-width: 35em;
  padding: 1.5em;
  position: relative;
}

blockquote {
  border-left : 2px solid #222;
  font-size : .8em;
  padding-left :15px;
}

.hljs {
  font-size:14px;
  line-height:18px;
  margin-bottom:30px;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
  width:50%;
  text-align:center;
}

table, tr, td {
    border: 1px solid #222;
}

/* Headings -------------------------------------------------- */
h1, h2, h3, h4, h5 {
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}

/* Article list --------------------------------------------*/

.article + .article {
    margin-top: 15px;
}

.article-information {
    font-size: small;
}

@media (min-width: 768px) {
    .article-information {
        float: right;
    }
}
