/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
header, main, nav, section, summary {
  display: block;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

html, a {
  color: #222;
}

body {
  margin: 0 auto;
  font-size: 1.25rem;
  line-height: 1.5em;
  padding: 1.5em;
  max-width: 35em;
  position: relative;
}

blockquote {
  border-left : 2px solid #222;
  padding-left :15px;
  font-size : .8em;
}

.hljs {
  line-height:18px;
  font-size:14px;
  margin-bottom:30px;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
  width:50%;
  text-align:center;
}

table, tr, td {
    border: 1px solid #222;
}

/* Header -------------------------------------------------- */
header {
  margin-bottom: 1.5em;
}

header a {
  font-weight: 600;
  margin-right: 15px;
}

/* Headings -------------------------------------------------- */
h1, h2 {
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}

/* Main -------------------------------------------------- */
main p,
main ul,
main ol {
  margin-bottom: 1.5em;
}

.text ul,
.text ol {
  margin-left: 1em;
}

/* Article list --------------------------------------------*/

.article + .article {
    margin-top: 15px;
}

.article-information {
    float: right;
    font-size: small;
}

/* make this responsive */
.sidenote {
    font-size: small;
    width: 200px;
    position: absolute;
    right: -200px;
}
